.bv-continer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
}
.bv-video {
  width: 95%;
  border-radius: 4rem;
  margin-top: 4rem;
  z-index: 1;
}
/* @media (max-width: 1024px) {
  .bv-video {
    width: 100%;
    margin-top: 1rem;
  }
}
@media; */
