.f-wrapper {
  background-color: var(--primary-color);
}
.f-wrapper .container {
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.f-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.f-container .title {
  margin-top: 2rem;
  color: white;
}

.f-container .email-box {
  max-width: 36rem;
}
